<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define the logging levels -->
    <property name="LOG_LEVEL_ROOT" value="INFO" />
    <property name="LOG_LEVEL_APP" value="DEBUG" />

    <!-- Define a pattern for log messages -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} - %msg%n" />

    <!-- Define a console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Define a file appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/spring-boot-logger.log</file>
<!--        <file>c:/data24/spring-boot-logger.log</file>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/app-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="${LOG_LEVEL_ROOT}">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <!-- Application-specific logger -->
    <logger name="com.example.yourapp" level="${LOG_LEVEL_APP}" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </logger>

</configuration>
